# Prerequisites
*.d

# Object files
*.o
*.ko
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

CG_Projeto2/\.vs/CG_Projeto2/v15/Browse\.VC\.opendb

CG_Projeto2/\.vs/

CG_TP2_Cena_Verao_Aquario/\.vs/

CG_TP2_Cena_Verao_Aquario/CG_TP2_Cena_Verao_Aquario\.VC\.db

CG_TP2_Cena_Verao_Aquario/CG_TP2_Cena_Verao_Aquario/x64/Debug/CG_TP2_C\.684E61EA\.tlog/

*.log

CG_TP2_Cena_Verao_Aquario/CG_TP2_Cena_Verao_Aquario\.sdf

*.lastbuildstate

*.tlog

CG_TP2_Cena_Verao_Aquario/CG_TP2_Cena_Verao_Aquario\.opensdf

*.opendb

CG_TP2_Cena_Verao_Aquario/CG_TP2_Cena_Verao_Aquario/x64/Debug/
